<div class="container mx-auto my-32 sm:px-10 px-5">
    <div class="mb-20">
        {{ cms_heading('gallery-heading') }}

        <div class="text-zinc-500 text-xl mb-6">
                {{ cms_text('gallery-content') }}
        </div> 
    </div>

    {# gallery blocks #}
    
    <div class="grid sm:grid-cols-4 grid-cols-2 lg:gap-5 gap-2">
        <div class="w-full pb-[100%] bg-gradient-to-br from-zinc-900 to-zinc-700"></div>
        <div class="w-full pb-[100%] bg-gradient-to-br from-zinc-900 to-zinc-700"></div>
        <div class="w-full pb-[100%] bg-gradient-to-br from-zinc-900 to-zinc-700"></div>
        <div class="w-full pb-[100%] bg-gradient-to-br from-zinc-900 to-zinc-700"></div>
        <div class="w-full pb-[100%] bg-gradient-to-br from-zinc-900 to-zinc-700"></div>
        <div class="w-full pb-[100%] bg-gradient-to-br from-zinc-900 to-zinc-700"></div>
    </div>
</div>