<div class="container mx-auto my-32 sm:px-10 px-5">
    <div class="mb-20">
        {{ cms_heading('gallery-heading') }}

        <div class="text-zinc-500 text-xl mb-6">
                {{ cms_text('gallery-content') }}
        </div> 
    </div>


    {# gallery blocks #}
    
    
<div class="columns-2 md:columns-3">
    <div class="relative mb-4">
      <img class="w-full" src="https://cdn.blutui.com/uploads/components/kitten-1.jpg">
    </div>
    
    <div class="relative mb-4">
      <img class="w-full" src="https://cdn.blutui.com/uploads/components/kitten-2.jpg">
    </div>
    
    <div class="relative mb-4">
      <img class="w-full" src="https://cdn.blutui.com/uploads/components/kitten-3.jpg">
    </div>
    
    <div class="relative mb-4">
      <img class="w-full" src="https://cdn.blutui.com/uploads/components/kitten-4.jpg">
    </div>
    
    <div class="relative mb-4">
      <img class="w-full" src="https://cdn.blutui.com/uploads/components/kitten-5.jpg">
    </div>
    
    <div class="relative mb-4">
      <img class="w-full" src="https://cdn.blutui.com/uploads/components/kitten-6.jpg">
    </div>
    
    <div class="relative mb-4">
      <img class="w-full" src="https://cdn.blutui.com/uploads/components/kitten-7.jpg">
    </div>

    <div class="relative mb-4">
      <img class="w-full" src="https://cdn.blutui.com/uploads/components/kitten-8.jpg">
    </div>

    <div class="relative mb-4">
      <img class="w-full" src="https://cdn.blutui.com/uploads/components/kitten-9.jpg">
    </div>
  </div>

</div>
