<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if page.title %}{{ page.title }}{% endif %} | {{ settings['site_name'] }}</title>

    {# custom font #}
    <link href="https://fonts.bunny.net/css?family=manrope:400,500,700" rel="stylesheet" />

    {{ asset('styles/main.css') | stylesheet_tag }}
</head>
<body class="font-manrope bg-zinc-100">
    {% block body %}{% endblock %}

    {# alpine js #}
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="{{ asset('js/app.js')}}"></script>
</body>
</html>
