<div class="w-full py-2 sm:px-5 px-6 bg-zinc-200 text-sm relative" x-data="{ open: true }" x-transition x-show="open">
    <div class="container sm:flex sm:items-center sm:justify-between mx-auto">

        {# banner text #}
        <div class="sm:mb-0 mb-2">
            <p><strong>Banner main heading</strong></p> 
            <small>Subheading info here for banner with a button group</small>   
        </div>
        

        {# button #}
        <div>
            {{ cms_button('banner-btn', { theme: 'inline-block bg-zinc-900 px-4 py-2 font-semibold text-white hover:bg-zinc-600 sm:ml-5', size: 'text-xs' }) }}          
            {{ cms_button('banner-btn-2', { theme: 'inline-block bg-white border border-zinc-900 px-4 py-2 font-semibold text-zinc-900 hover:bg-zinc-100 ml-3', size: 'text-xs' }) }}              
        </div>
    
        {# close button hide banner on click #}
        <button class="absolute right-5 top-0 bottom-0" @click="open = ! open">
            <svg class="h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
        </button>
    </div>
</div>

