<div class="w-full h-96 bg-gradient-to-br from-zinc-900 to-zinc-700"> </div>

<div class="lg:flex sm:p-20 px-10 py-20 sm:gap-5">
    <div class="lg:basis-1/2">
        {{ cms_heading('hero-heading') }}
    </div>

    <div class="lg:basis-1/2 flex flex-wrap gap-3">
        <div class="text-zinc-500 text-xl mb-10 w-full">
            {{ cms_text('hero-content-sm') }}
        </div>

        {{ cms_button('hero-btn-1', { theme: 'inline-block bg-zinc-900 px-6 py-2 font-semibold text-white hover:bg-zinc-600', size: 'text-sm' }) }}          
        {{ cms_button('hero-btn-2', { theme: 'inline-block bg-white border border-zinc-900 px-6 py-2 font-semibold text-zinc-900 hover:bg-zinc-100', size: 'text-sm' }) }}          
    </div>
</div>
