<div class="min-h-screen md:flex">
    <div class="md:basis-1/2 bg-gradient-to-br from-zinc-900 to-zinc-700  md:h-auto h-80"></div>

    <div class="md:basis-1/2 flex items-center justify-center">
        <div class="sm:p-20 px-10 py-20">
            {{ cms_heading('hero-heading') }}
            <div class="text-zinc-500 text-xl my-10">
                {{ cms_text('hero-content') }}
            </div>
            <div class="flex flex-wrap gap-3">
                {{ cms_button('hero-btn-1', { theme: 'inline-block bg-zinc-900 px-6 py-2 font-semibold text-white hover:bg-zinc-600', size: 'text-sm' }) }}          
                {{ cms_button('hero-btn-2', { theme: 'inline-block bg-white border border-zinc-900 px-6 py-2 font-semibold text-zinc-900 hover:bg-zinc-100', size: 'text-sm' }) }}          
            </div>
        </div>
    </div>
</div>